.info {

  margin-left: auto;
  margin-right: auto;
  max-width: 720px;
}

.Form {
  margin-top: 30px;
}

table.demo01 {
  display: grid;
  width: 100%;
  margin-top: 30px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.Form tbody {
  padding: 30px;
}

@media screen and (max-width: 480px) {

  .Form td {
    width: 100%;
    display: block;
  }
  .Form p {
    margin: 0 20px;
  }
}

.Form-Item {
  padding-top: 24px;
  padding-bottom: 24px;
  width: 100%;
  align-items: center;
  line-height: 60px;
}

@media screen and (max-width: 480px) {
  .Form-Item {
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 16px;
    padding-bottom: 16px;
    display: block;
  }
}

.Form-Item-Label {
  width: 40%;
  max-width: 248px;
  font-weight: bold;
  font-size: 18px;
  text-align: left;
  padding: 20px 0;
  vertical-align: middle;
  line-height: normal;
}

@media screen and (max-width: 480px) {
  .Form-Item-Label {
    max-width: inherit;
    font-size: 15px;
    width: 40%;
    text-align: left;
  }
}

.Form-Item-Label.isMsg {
  margin-top: 8px;
  margin-bottom: auto;
}

@media screen and (max-width: 480px) {
  .Form-Item-Label.isMsg {
    margin-top: 0;
  }
}

.Form-Item-Label-Required {
  border-radius: 6px;
  margin-right: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 35px;
  display: inline-block;
  text-align: center;
  background: red;
  color: #fff;
  font-size: 14px;
}

@media screen and (max-width: 480px) {
  .Form-Item-Label-Required {
    border-radius: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 32px;
    font-size: 10px;
  }
}

.Form-Item-Input {
  display: block;
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 20px;
  padding-left: 1em;
  padding-right: 1em;
  height: 48px;
  flex: 1;
  width: 100%;
  max-width: 440px;
  background: #eaedf2;
  font-size: 18px;
}

.Form-Item-Textarea {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 20px;
  padding-left: 1em;
  padding-right: 1em;
  height: 216px;
  flex: 1;
  width: 100%;
  max-width: 430px;
  background: #eaedf2;
  font-size: 18px;
}

@media screen and (max-width: 480px) {
  .Form-Item-Input,
  .Form-Item-Textarea {
    margin-left: 0;
    margin-top: 18px;
    height: 40px;
    font-size: 15px;
    padding: 0 1em;
  }
}

.Form-Btn {
  border-radius: 6px;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 280px;
  display: block;
  letter-spacing: 0.05em;
  background: #fff;
  color: #000;
  font-weight: bold;
  font-size: 20px;
}

@media screen and (max-width: 480px) {
  .Form-Btn {
    margin-top: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 160px;
    font-size: 16px;
  }
}

label.error {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-size: 1em;
  display: block;
  padding-top: 5px;
  padding-bottom: 10px;
  width: 80%;
  margin: auto;
  color: red;
  border-radius: 6px;
  margin-bottom: 10px;
}

@media (max-width: 700px) {
  label.error {
    width: 90%;
  }
  input,
  textarea {
    width: 90%;
  }
  .info button {
    width: 90%;
  }
  body {
    padding-top: 10px;
  }
}
