/* Home.css */

.main-content {
  position: relative;
  background-color: black; /* Adjust as needed */
  transition: opacity .5s ease-in;
  opacity: 0; /* Initially hidden */
}

.main-content.visible {
  opacity: 1; /* Reveal content */
}

@media (max-width:760px) {
  .main-content {
    position: relative;
    margin-top: 60px;
  }
}