/* Home.css */

.main-content {
  position: relative;
  padding: 20px;
  background-color: black; /* Adjust as needed */
  transition: opacity .5s ease-in;
  opacity: 0; /* Initially hidden */
}

.main-content.visible {
  opacity: 1; /* Reveal content */
}
