@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;700&display=swap');


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Noto Serif JP', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
  color: #fff;
  line-height: 2;
}



/* Base styles for the entire webpage */


/* Body text */
p, li {
  font-size: 16px; /* Desktop: 16px to 18px, Mobile: 14px to 16px */
}

/* Headings */
h1 {
  font-size: 36px; /* Desktop: 24px to 36px, Mobile: 20px to 30px */
}

h2 {
  font-size: 28px; /* Desktop: 20px to 28px, Mobile: 18px to 24px */
}

h3 {
  font-size: 24px; /* Desktop: 18px to 24px, Mobile: 16px to 20px */
}

/* Subheadings */
h4 {
  font-size: 20px; /* Desktop: 16px to 20px, Mobile: 14px to 18px */
}

/* Small text */
small, .small-text {
  font-size: 14px; /* Desktop and Mobile: 12px to 14px */
}

/* Buttons and Links */
a, button {
  font-size: 18px; /* Desktop: 16px to 18px, Mobile: 16px to 18px */
  text-decoration: none;
  color: #fff;
}

/* Responsive adjustments */
@media (max-width: 540px) {
  body {
    font-size: 14px; /* Mobile: 14px to 16px */
  }

  h1 {
    font-size: 30px; /* Mobile: 20px to 30px */
  }

  h2 {
    font-size: 24px; /* Mobile: 18px to 24px */
  }

  h3 {
    font-size: 20px; /* Mobile: 16px to 20px */
  }

  h4 {
    font-size: 18px; /* Mobile: 14px to 18px */
  }

  .small-text {
    font-size: 12px; /* Mobile: 12px to 14px */
  }

  a, button {
    font-size: 16px; /* Mobile: 16px to 18px */
  }
}

.title-wrap {
  text-align: center;
  padding-top: 50px;
}

.title {
  font-family: "EB Garamond", serif;
  font-weight: 400;
  text-indent: 0.35rem;
  display: block;
  line-height: 1;
  letter-spacing: 0.35rem;
}

.title-sub {
  display: block;
  margin-top: 1.5rem;
}

.title-sub span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.15rem;
  text-indent: 0.15rem;
}

.title-sub span:before {
  display: inline-block;
  width: 18px;
  height: 1px;
  margin-right: 10px;
  background-color: #777777;
  content: "";
}

.title-sub span:after {
  display: inline-block;
  width: 18px;
  height: 1px;
  margin-left: 10px;
  background-color: #777777;
  content: "";
}
