@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;700&display=swap');


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Noto Serif JP', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
  color: #fff;
  line-height: 1.5;
}
a{
  text-decoration: none;
  color: inherit;
}


/* Base font size for the root element */
html {
  font-size: 16px; /* Default for desktop */
}

/* Body Text */
body {
  font-size: 1rem; /* 1rem = 16px */
  line-height: 1.5;
}

/* Headings */
h1 {
  font-size: 2.5rem; /* 40px */
}

h2 {
  font-size: 2rem; /* 32px */
}

h3 {
  font-size: 1.75rem; /* 28px */
}

h4 {
  font-size: 1.5rem; /* 24px */
}

h5 {
  font-size: 1.25rem; /* 20px */
}

h6 {
  font-size: 1rem; /* 16px */
}

/* Media Queries for Small Devices (Tablets, Mobiles) */

/* Medium Devices (Tablets, 768px - 1024px) */
@media only screen and (max-width: 1024px) {
  html {
      font-size: 15px; /* Reduce the base font size */
  }

  h1 {
      font-size: 2.25rem; /* 33.75px */
  }

  h2 {
      font-size: 1.875rem; /* 28.125px */
  }

  h3 {
      font-size: 1.625rem; /* 26px */
  }

  h4 {
      font-size: 1.375rem; /* 22px */
  }

  h5 {
      font-size: 1.125rem; /* 18px */
  }

  h6 {
      font-size: 1rem; /* 16px */
  }
}

/* Small Devices (Mobiles, 320px - 767px) */
@media only screen and (max-width: 767px) {
  html {
      font-size: 14px; /* Further reduce the base font size */
  }

  h1 {
      font-size: 2rem; /* 28px */
  }

  h2 {
      font-size: 1.75rem; /* 24.5px */
  }

  h3 {
      font-size: 1.5rem; /* 21px */
  }

  h4 {
      font-size: 1.25rem; /* 18px */
  }

  h5 {
      font-size: 1rem; /* 16px */
  }

  h6 {
      font-size: 0.875rem; /* 14px */
  }
}



.title-wrap {
  text-align: center;
  padding-top: 60px;
}

.title {
  font-family: "EB Garamond", serif;
  font-weight: 400;
  text-indent: 0.35rem;
  display: block;
  letter-spacing: 0.35rem;
  margin-top: 60px;
}

.title-sub {
  display: block;
  margin-top: 1.5rem;
  margin-bottom: 30px;
}

.title-sub span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.15rem;
  text-indent: 0.15rem;
}

.title-sub span:before {
  display: inline-block;
  width: 18px;
  height: 1px;
  margin-right: 10px;
  background-color: #777777;
  content: "";
}

.title-sub span:after {
  display: inline-block;
  width: 18px;
  height: 1px;
  margin-left: 10px;
  background-color: #777777;
  content: "";
}
@media screen and (max-width: 767px) {
.title-wrap{
  padding-top: 0;
}
}