/* Back to top button container */
.back-to-top-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0.8;
  z-index: 1000;
}

.fade-in {
  opacity: 1; 
  transition: opacity 0.3s ease-in;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

.back-to-top-btn:hover {
  transform: scale(1.1);
  opacity: 1;
}

.back-to-top-icon {
  font-size: 24px;
}
