@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.slideshow {
  width: 100%;
  height:50vw;
  position: relative;
  overflow: hidden;
}

.slide {
  position: relative;
  height: 100%;
}

.slide img {
  width: 100%;
  height: 50vw;
  object-fit: cover;
  transition: opacity 1s ease-in-out;
}

/* Optional: Add styles for dots if you are using them */
.slick-dots {
  bottom: 10px;
}

.slick-dots li button:before {
  color: #fff; /* Change dot color if needed */
}
